body {
  background-color: #e1e1e1; 
  color: #000000; 
  max-width: 600px;
  margin: 5% auto;
  font-family: 'Comfortaa', cursive;
  padding: 2em;
  font-weight: 300;
  line-height: 1.6; /* Adjust line spacing for readability */
}

a {
  color: #000000; 
  text-decoration: none;
}

a:hover .title, a:focus .title {
  color: #2976d3;
}

a:hover, a:focus {
  color: #2976d3;
}

h1, h2 {
  margin-top: 2em; /* Increased top margin */
  margin-bottom: 0.5em; /* Adjusted bottom margin */
}

/* Added a more generic class for sections */
.section {
  margin-bottom: 2em; /* Increased space between sections */
}

.element {
  margin: 1em 0; /* Increased space around elements */
}

/* Adjusted icon styles */
.icons {
  display: flex;
  align-items: center;
  justify-content: start; /* Align icons to the start */
  gap: 10px;
  margin-top: 1em; /* Increased spacing from top */
  padding-bottom: 1em; /* Increased padding at the bottom */
}

.icon {
  display: block; /* Ensure icons are block-level for spacing */
  margin-bottom: 1em; /* Increased space between icons */
}

/* List styles */
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 1em 0; /* Increased space around lists */
}

/* animation for vibrating divider line */
@keyframes vibrate {
  0%, 100% { transform: translateX(0); }
  25%, 75% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
}

.vibrating-line {
  width: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block; /* Ensure it's treated as a block-level element */
  animation: vibrate 0.3s infinite;
}




li {
  margin-bottom: 0.75em; /* Increased space between list items */
}

.mute {
  color: #2976d3;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}

.title {
  font-weight: 700;
  margin-bottom: 1em; /* Increased space after titles */
}

button {
  margin-bottom: 1em; /* Increased space after buttons */
  padding: .75rem;
  background-color: #e1e1e1;
  font-size: 18px;
  color: #497ef2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

iframe {
  overflow: hidden;
  margin-bottom: 1em; /* Increased space after iframes */
}

/* Hover effects for icons */
.icon:hover, .icon:focus {
  color: #2976d3;
}

/* Footer styles */
footer {
  margin-top: 2em; /* Space before footer */
  padding: 1em 0; /* Padding inside footer */
  text-align: center; /* Center-align footer text */
}

/* Additional global spacing */
p {
  margin-bottom: 1em; /* Space after paragraphs */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  body {
    padding: 1em; /* Smaller padding on smaller screens */
  }

  h1, h2 {
    margin-top: 1.5em; /* Smaller margin on top for headers */
  }
}
