@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1e1e1;
  color: #000000;
  max-width: 600px;
  margin: 5% auto;
  font-family: 'Space Grotesk', sans-serif;
  padding: 2em;
  font-weight: 300;
  line-height: 1.6;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover .title, a:focus .title {
  color: #2976d3;
}

a:hover, a:focus {
  color: #2976d3;
}

h1, h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.section {
  margin-bottom: 2em;
}

.element {
  margin: 1em 0;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-top: 1em;
  padding-bottom: 1em;
}

.icon {
  display: block;
  margin-bottom: 1em;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

@keyframes vibrate {
  0%, 100% { transform: translateX(0); }
  25%, 75% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
}

.vibrating-line {
  width: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: vibrate 3s infinite;
}

li {
  margin-bottom: 0.75em;
}

.mute {
  color: #2976d3;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}

/* Unique title styling for the welcome message */
#unique-title {
  font-family: 'Bungee Spice', cursive;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

button {
  margin-bottom: 1em;
  padding: .75rem;
  background-color: #e1e1e1;
  font-size: 18px;
  color: #497ef2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

iframe {
  overflow: hidden;
  margin-bottom: 1em;
}

.icon:hover, .icon:focus {
  color: #2976d3;
}

footer {
  margin-top: 2em;
  padding: 1em 0;
  text-align: center;
}

p {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  body {
    padding: 1em;
  }

  h1, h2 {
    margin-top: 1.5em;
  }
}

/* Fullscreen portal styles */
.portal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Red dot styles */
.red-dot {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  animation: pulse 2s infinite alternate ease-in-out;
}

/* Pulsing animation for the red dot */
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(2.1);
  }
}

/* Enter button styles */
#enterBtn {
  padding: 10px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: opacity 0.3s ease, transform 0.3s ease, display 0.3s ease;
  opacity: 0;
  z-index: 11;
  display: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  pointer-events: none;
  width: auto;
}

/* Show the Enter button when red dot is hovered */
.red-dot:hover + #enterBtn {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}
