body {
  background-color: #fbfcf8; 
  color: #2664a1; /* Adjusted to a blue-ish tone */
  max-width: 600px;
  margin: 5% auto;
  font-family: 'Comfortaa', cursive; /* If you want the same font as Logan's, replace 'Comfortaa' with the font stack he used */
  padding: 2em;
  font-weight: 300;
}

a {
  color: #2664a1; /* Adjusted to a blue-ish tone */
  text-decoration: none;
}

a:hover .title, a:focus .title {
  color: #d6c438;
}

a:hover, a:focus {
  color: #d6c438;
}

h2 {
  margin: 0px;
}

.element {
  padding: 5px 0 5px 0;
}

/* Icon styles for alignment in a row similar to Logan's website */
.icons {
  display: flex; /* Align icons in a row */
  align-items: center; /* Center icons vertically */
  max-width: 24px;
  height: auto;
  gap: 10px; /* Spacing between icons */
  margin-top: 5px; 
  padding-bottom: 10px;
}

.icon {
  color: #2664a1; /* Adjusted to a blue-ish tone */
}

li::marker {
  color: #2664a1; /* Adjusted to a blue-ish tone */
}

.mute {
  color: #808080;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
}

button {
  margin-bottom: 10px;
  padding: .75rem;
  background-color: #fbfcf8;
  font-size: 18px;
  color: #2664a1; /* Adjusted to a blue-ish tone */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

iframe {
  overflow: hidden;
}

/* Additional styles for icon hover effects, if desired */
.icon:hover, .icon:focus {
  color: #d6c438; /* Change color on hover/focus */
}
