body {
  background-color: ##fbfcf8; 
  color: #111; 
  max-width: 600px;
  margin: 5% auto;
  font-family: font-family: 'Comfortaa', cursive;
  padding: 2em;
  font-weight: 300;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover .title {
  color: #111;
}

a:hover {
  color: #579feb;
}

h2 {
  margin: 0px;
}

.element {
  padding: 5px 0 5px 0;
}

.icon {
  margin-right: 5px;
  color: #111;
}

.icons {
  margin-top: 5px; 
  padding-bottom: 10px;
}

.section {
  font-weight: 1;
  margin-top: 5%;
  margin-bottom: 3%;
}

li::marker {
  color:#111;
}

.mute {
  color: #808080;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}

.title {
  margin-bottom: 10px;
  font-weight: 700;
}

button {
  margin-bottom: 10px;
  padding: .75rem;
  background-color: #fbfcf8;
  font-size: 18px;
  color: #111;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.no-bullets {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

iframe {
  overflow: hidden;
}